Create a new product
<form action="/products" method="post">
  <p>Name:<input type="text" name="name"></p>
  <p>Price: <input type="text" name="price"></p>
  <p>Description: <input type="text" name="description"></p>
  <select>
    <option value="Sam">Sam</option>
    <option value="Sam">Jimmy</option>
  </select>
  <p><input type="submit" value="Submit"></p>
</form>